.container {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 0rem 2rem;
	flex: 1 1 auto;

	.container-inner {
		min-height: 100vh;
		background: transparent;
		margin-top: 20px;
		align-items: center;
		padding: 0;
		border: 1px solid red;

		.swiper {
			max-width: 1600px;
			height: 590px;
			background-color: transparent;
			border: 1px solid red;

			// .swiper-wrapper {
			// 	transform: rotate(0.5turn);
			// }

			.swiper-slide {
				// width: 100px;
				height: 400px;
				margin: 50px 0;
				opacity: 0.5;
				border-radius: 16px;
				filter: grayscale(1);
				transition: 1s;

				a {
					img {
						width: auto !important;
						width: 100%;
						object-fit: cover;
					}
				}

				// &::before {
				// 	content: '';
				// 	width: 340px;
				// 	height: 541px;
				// 	position: absolute;
				// 	background: #FF1818FC;
				// 	mix-blend-mode: color-burn;
				// 	top: 0px;
				// 	border-radius: 16px;
				// 	opacity: 0;
				// 	transition: 0.6s;
				// }

				// &:hover:before {
				// 	opacity: 1;
				// }
			}

			.swiper-slide-prev,
			.swiper-slide-next {
				width: 292px;
				height: 466px;
				opacity: 1;
				filter: grayscale(1);
			}

			.swiper-slide-active {
				width: 594px;
				height: 466px;
				opacity: 1;
				position: relative;
				filter: none;

				// border: 1px solid red;
				img {
					width: 100%;
					// border: 1px solid red;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 15px;
					width: 91%;
					height: 100%;
					background: #ff1818dd;
					border-radius: 16px;
					top: 0;
					opacity: 0;
					transition: 0.2s ease-in-out;
					mix-blend-mode: color-burn;
				}

				&:hover:after {
					opacity: 1;
				}
			}

			// .swiper-pagination {
			// 	position: absolute;
			// 	top: 92%;
			// }

		}

	}

	.main-category-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1361px;
		margin-top: 10px;

		.main-category-btn {
			@extend %extend-auth-input;
			width: auto;
			height: 40px;
			padding: 8px 16px;
			font-size: 13px;
			background-color: white;
			border: 1px solid white;
			cursor: pointer;
			color: #2B2B2B;
			transition: 0.3s;
			font-weight: 500;

			&:hover {
				border: 1px solid #CDDAF1;

			}
		}
	}




}